<div class="container">

  <div class="row mt-5">
    <div class="col-sm mb-3">

    </div>
  </div>
  <div class="row mt-5">
    <div class="col-sm">
      <h6>Willkommen bei meiner Umfrage </h6>
      <p class="h3 mb-4"> Schön, dass du da bist.</p>
      <p class="mb-4"> Diese Umfrage ist im Rahmen der Vorlesung "Webprogrammierung" entstanden. </p>
      <div class="row mt-5" style="align-items: center">
        <div class="col-sm" style="display: flex; justify-content: center;">
          <button [routerLink]="['/questions']" class="btn btn-lg btn-dark">Zur Umfrage</button>
        </div>
        <div class="col-sm mt-4">
          <a class="nav-link "
             style="display: inline; border-left: 2px solid #000000; margin: 0 1rem; padding: 0 1rem; color: black;"
             [routerLink]="['/evaluation']"> Zur Auswertung</a></div>
      </div>


    </div>
  </div>
</div>
